:root{
--bg:#090B14;
--panel:#101421;
--border:#272B45;
--text:#F8FAFC;
--muted:#93A0B8;
--accent:#6D4AFF;
--pink:#FF5FBF;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{

font-family:Inter,sans-serif;

background:
radial-gradient(circle at 50% 120px,
rgba(109,74,255,.22),
transparent 300px),
#090B14;

color:var(--text);

}

.container{
max-width:1320px;
margin:auto;
padding:32px;
}

nav{

display:flex;
justify-content:space-between;
align-items:center;

padding:10px 0 40px;

border-bottom:1px solid rgba(255,255,255,.06);

}

.logoBox{

display:flex;
align-items:center;
gap:12px;

}

.logoBox img{
height:34px;
}

.logo{
font-size:28px;
font-weight:800;
}

.btn{

padding:12px 28px;

border:1px solid rgba(109,74,255,.25);

border-radius:12px;

background:rgba(109,74,255,.08);

text-decoration:none;

color:white;

font-weight:600;

transition:all .35s ease;

backdrop-filter:blur(4px);

cursor:pointer;

}

.btn:hover{

border-color:var(--accent);

background:rgba(109,74,255,.18);

box-shadow:0 0 20px rgba(109,74,255,.35),0 0 40px rgba(109,74,255,.15);

transform:translateY(-2px);

}

.hero{

padding:80px 0;

text-align:center;

}

.hero h1{

font-size:76px;

font-weight:800;

line-height:1.1;

}

.gradient-text,
.hero .policy{

background:linear-gradient(
90deg,
#ff5fbf,
#ff91d8,
#b56bff,
#6d4aff,
#ff5fbf);

background-size:300%;

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

animation:wave 5s linear infinite;

}

@keyframes wave{

100%{

background-position:300%;

}

}

.hero p{

max-width:720px;

margin:20px auto;

color:var(--muted);

font-size:17px;

line-height:1.8;

}

.content{

display:grid;

grid-template-columns:260px 1fr;

gap:60px;

}

aside{

position:sticky;

top:30px;

height:max-content;

}

aside a{

display:block;

padding:12px 0;

padding-left:18px;

color:#8d92ad;

text-decoration:none;

border-left:2px solid transparent;

transition:.25s;

}

aside a:hover{

color:white;

border-color:#FF5FBF;

}

main{

padding-bottom:80px;

}

section{

padding-bottom:42px;

margin-bottom:42px;

border-bottom:1px solid rgba(255,255,255,.08);

}

section:last-child{

border:none;

}

h2{

font-size:30px;

margin-bottom:16px;

}

h3{

font-size:22px;

margin:24px 0 12px;

}

p{

color:var(--muted);

line-height:1.9;

margin-bottom:18px;

}

ul{

padding-left:20px;

}

li{

color:var(--muted);

line-height:1.9;

margin-bottom:8px;

}

a{

color:#82A7FF;

}

footer{

padding:40px;

text-align:center;

color:#7f8aa3;

border-top:1px solid rgba(255,255,255,.06);

margin-top:80px;

}

@media(max-width:900px){

.content{

grid-template-columns:1fr;

}

aside{

position:relative;

margin-bottom:40px;

}

.hero h1{

font-size:50px;

}

}
